/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MiSans, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

html {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  //box-sizing: border-box;
  font-family: MiSans, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

/* region simplebar滚动条样式 */
.simplebar-hover::before {
  @include useTheme {
    background-color: getVar('hover', ('scrollbarColor')) !important;
  }
}

.simplebar-scrollbar::before {
  cursor: pointer;
  @include useTheme {
    background-color: getVar('color', ('scrollbarColor'));
  }
}

/* endregion */