$themes: (
  light:(
    textColor:rgb(48, 49, 51),
    borderColor: rgb(220, 223, 230),
    PageBackground:#F2F3F5,
    BaseBackground:#FFFFFF,
    transition:.5s,
    elementColor:(
      Primary:#303133,
      Regular:#606266,
      Secondary:#909399,
      Placeholder:#A8ABB2,
      Disabled:#C0C4CC,
      bgPrimary:#E5EAF3,
      bgRegular:#CFD3DC,
      bgSecondary:#A3A6AD,
      bgPlaceholder:#8D9095,
      bgDisabled:#6C6E72
    ),
    scrollbarColor:(
      color:#DDDEE0,
      hover:#C7C9CC
    ),
    btn:(
      bgColor:rgba(255, 255, 255),
      hoverColor:rgb(240, 240, 240),
      color:rgba(0, 0, 0, 0.88),
      hover:rgba(0, 0, 0, 0.88)
    ),
    Content:(
      titleColor: rgba(48, 49, 51),
    ),
    SidebarHoverColor:rgba(236, 245, 255, 1),
    SidebarActiveColor:rgb(64, 158, 255),
  ),
  dark:(
    textColor:rgba(229, 234, 243),
    borderColor:rgb(23, 23, 23),
    PageBackground:#0A0A0A,
    BaseBackground:#212121,
    transition:.5s,
    elementColor:(
      Primary:#E5EAF3,
      Regular:#CFD3DC,
      Secondary:#A3A6AD,
      Placeholder:#8D9095,
      Disabled:#6C6E72,
      bgPrimary:#303133,
      bgRegular:#606266,
      bgSecondary:#909399,
      bgPlaceholder:#A8ABB2,
      bgDisabled:#C0C4CC
    ),
    scrollbarColor:(
      color:#3F4042,
      hover:#5C5D61
    ),
    btn:(
      bgColor:rgba(33, 33, 33),
      hoverColor:rgb(255, 255, 255),
      color:rgba(255, 255, 255),
      hover:rgba(33, 33, 33)
    ),
    Content:(
      titleColor: rgba(229, 234, 243),
    ),
    SidebarHoverColor:rgba(64, 158, 255, 0.1),
    SidebarActiveColor:rgb(64, 158, 255),
  )
);

$currentTheme: light;
@mixin useTheme() {
  @each $key, $value in $themes {
    $currentTheme: $key !global;
    html[data-theme=#{$key}] & {
      @content
    }
  }
}

@function getVar($key, $path: null) {
  $themeMap: map-get($themes, $currentTheme);

  // 如果指定了路径，则使用路径获取值
  @if $path {
    $value: $themeMap;
    @each $segment in $path {
      $value: map-get($value, $segment);
    }
    @return map-get($value, $key);
  }

  // 否则直接返回变量值
  @return map-get($themeMap, $key);
}

.abc {
  width: 100%;
  height: 100%;
  @include useTheme {
    background-color: getVar('bgColor');
    color: getVar('textColor');
  }
}